@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 203, 246);
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background-color :rgb(73, 73, 244);
    border-radius: 10px; 
    border: 2px solid #ccc;
}


.headerHome {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    background-repeat: repeat;
    background-size: 30%;
}

.navbar {
    background-color: rgb(20, 20, 59);
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.criarMais {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.criarMais:hover{
    color: rgb(192, 203, 246);
}

#contaOpcoes:hover {
   color: rgb(192, 203, 246);
}

#contaOpcoes{
    padding: 16px 16px 16px 10px;
    font-weight: bold;
}


.contaManipular {
    margin-right: 3%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    align-self: center;
    justify-self: center;
    font-size: 16px;
}

.edicaoConta {
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    background-color: rgba(20, 57, 111, 0.8);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: fixed;
    opacity: 0;
    z-index: 39;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    border-radius: 15px;
}

.edicaoConta.show{
    opacity: 1;
    visibility: visible;
}

/*.edicaoConta .fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 3%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px !important;
    margin-right: 10px !important;
}*/


.edicaoConta form {
    position: relative;
    top: 5px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-color: rgb(20, 20, 59);
    overflow: auto;
    border-radius: 20px;
}


.containerPerfilContaManipular {
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerArredondado {
    width: 32vh;
    height: 32vh;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 10px solid rgba(51, 83, 133, 0.9);
    box-sizing: border-box; 
    cursor: pointer;
    transition: filter 0.3s ease;
}

.imagemAtualizarTime, .imagemAtualizar {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 50%;
    transition: filter 0.3s ease;
}

.containerArredondado:hover img.imagemAtualizar {
    filter: blur(4px) brightness(0.8); 
    z-index: 0; 
}

.containerArredondado:hover img.imagemAtualizarTime {
    filter: blur(2px) brightness(0.7); 
}

.containerArredondado:hover img.exclusivo{
    filter: none;
}

.svg-icon {
    position: absolute;
    width: 15%;
    height: 15%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.containerArredondado:hover .svg-icon {
    opacity: 1;
}
.custom-select {
    display: inline-block;
    width: 50%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: border-color 0.3s;
}

.custom-select:focus {
    border-color: #007bff;
    outline: none;
}

.custom-select option {
    padding: 5px;
}

.custom-select:hover {
    border-color: #007bff;
}

.file-input{
    display: none;
}

input::placeholder {    color: rgb(121, 154, 237);
     opacity: 0.4; 
}

input {
    background-color:rgb(20, 57, 111);
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 17px;
    outline: none;
}

.inputFiltro::placeholder{
    color: rgba(255, 255, 255, 0.9);
}

.camposManipularConta {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    margin-left: 20px;
    justify-self: end;
    gap: 15px;
    color: white;
}

.camposManipularConta input {
    width: 70%;
    padding: 8px;
}

.containerBotoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
}

.vertical-bar {
    height: 50%;
    margin: 10px;
    width: 2px;
    background-color: rgb(73, 73, 244);
}

.horizontal-bar {
    height: 3px;
    width: 40%;
    background-color:  rgb(73, 73, 244);
    margin: 20px auto;
    margin-top: 2.5%;
    display: block;
    border-radius: 50%; 
    box-shadow: 0px 0px 3px rgb(73, 73, 244); 
    border: none;
}

.selectCreation{
    background-color:rgb(73, 73, 244) !important;
}

.menuSelecionadoCriar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
    gap: 20px;
}

.menuSelecionadoCriar label{
    margin-bottom: 0;
    color: black;
    font-size: 16px;
}

.containerButtonsEditionMaratona{
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 5%;
}

.ConfirmarCriacao {
    cursor: pointer;
    padding: 2%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 700;
    color:  rgb(73, 73, 244);
    border: 3px solid  rgb(73, 73, 244);
    transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.ConfirmarCriacao:hover{
    background-color: rgb(73, 73, 244);
    color: white;
}

#btn-del-user:hover, #ExcluirMaratona:hover {
    background-color: red !important;
    color: white !important;
}

#btn-del-user:hover, #ExcluirTime:hover {
    background-color: red !important;
    color: white !important;
}

 .ConfirmarCriacao:active {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 -1px 4px rgba(255, 255, 255, 0.6) inset;
      transform: translate(1px, -2px);
}

.criarMaratona{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index:0;
    flex-direction: column;

}
.criarMaratona form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;
    justify-self: center;
    justify-content: center;
    gap: 20px;
    background-color:rgb(20, 20, 59) ;
    border-radius: 10px;
    overflow: auto;
    z-index:7;
}

.criarMaratona input{
    width: 70%;
    padding: 8px;
    align-self: center;
    justify-self: center;
}

.criarMaratona label{
    color: white;
    margin-bottom: 0;
}

.criarTime{
    display: none;
}

.criarPartida{
    display: none;
}

.spacer {
    flex-grow: 1;
}

.barra {
    position: relative;
   width: 25vh;
    height: 25vh;
    border-radius: 50%;
}

.escudoTimePerfil {
   position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    height: 100%;
    background-color: rgb(192, 203, 246); 
    border-radius: 50%;
    border: 10px solid rgb(192, 203, 246); 
    box-sizing: border-box;
}

.escudoTimePerfil img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}



.containerOpcoes {
    display: flex;
    margin-right: 0.5%;
    height: 10vh;
    width: 100%;
}


.rotate {
    transform: rotate(90deg); 
    transition: transform 0.3s ease; 
}

#toggleIcon {
    position: relative;
    left: 3px;
    transition: transform 0.3s ease; 
}

.limite {
    position: relative;
    display: flex;
    justify-content: center;
    width: 150px; 
    margin-right: 25px;
    }

.OpcoesExpandidas {
    display: none;
    width: 150px;
    margin-right: 25px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(44, 44, 107);
    overflow: auto;
    font-size: inherit;
}

.OpcoesExpandidas button {
    width: 100%;
    height: 100%;
    margin: 0;
}


.OpcoesExpandidas button:hover {
    background-color: rgb(81, 85, 128);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(6px) brightness(0.9);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 39;
}

.criacao{
    width: 40%;
    height: 90vh;
    background-color: rgba(20, 57, 111, 0.8);
    position: fixed;
    justify-self: start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.criacao.show {
    opacity: 1; 
    visibility: visible;
}

.no-scrollbody{
    overflow: hidden;
}

.no-scroll {
    position: absolute;
    width: 100%;
}

.menuCriar{
   margin-top: 60px !important;
   
}

.selecionarCriar button{
    color: white !important;
}

.fechar {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.fechar:hover{
    transform: scale(1.1);
}

.textTitulo {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    color: rgb(38, 38, 101);
    transform: scaleX(1);
    transition: transform 0.5s ease; 
}

.animado{
    font-size: 250%;
    font-weight: 900;
    justify-content: center;
}

.animado span{
    position: relative;
    justify-self: center;
}

.animado span::before{
    content: "";
    color:rgb(73, 73, 244);
    animation: palavras 17s infinite, pisca 1s infinite;
}

@keyframes pisca {
    0% {
        text-shadow: 0px 0px 2px rgb(73, 73, 244);
    }
    50% {
        text-shadow: 0px 0px 4px rgb(73, 73, 244);
    }
    100% {
        text-shadow: 0px 0px 2px rgb(73, 73, 244);
    }
}

.animado span::after{
    content: "";
    position: absolute;
    height: 90%;
    border-left: 2px solid rgb(73, 73, 244);
    top: 0;
    background-color: rgb(192, 203, 246);;
    animation: curs .8s infinite, digita 17s steps(12) infinite;
    width: 100%;
    right: -2px;
}

@keyframes digita {
    1%{
        width: 100%;
    }10%, 16%{
        width: 0%;
    }22%, 26.5%{
        width: 100%;
    }36%, 41%{
        width: 0%;
    }48.5%, 52.5%{
        width: 100%;
    }63.5%, 67.5%{
        width: 0%;
    }73.5%,  77.5%{
        width: 100%;
    }88.5%, 93%{
        width: 0;
    }98%{
        width: 100%;
    }
}


@keyframes curs {
    0%{
        border-left: 2px solid rgb(192, 203, 246);;
    }
}

@keyframes palavras {
    0%,25%{
        content: "MARATONAS";
    }
    25.1%, 50%{
        content: "COMPETIÇÕES";
    }
    50.1%, 75%{
        content: "TIMES";
    }
    75.1%, 100%{
        content: "PARTIDAS";
    }
}

.categorias{
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 2%;
}
.categorias button{
    padding: 5px;
    font-size: 23px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(22, 22, 108);
    font-weight: bold;
}
.containerBotao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerBotao #maratonas {
    color: rgb(38, 38, 101);;
   font-size: 19px;
}

.filtrar{
    display: flex;
    width: 35%;
    font-size: 18px;
    color: white;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color:rgb(20, 20, 59);
    margin-top: 0.5%;
}
.filtrar input{
    width: 40%;
    padding: 5px;
    border: none;
    outline: none;
}

.filtroTime{
height: 40px;
}

.ExibirCategorias {
    align-self: center;
    list-style-type: none;
    padding: 0;
    justify-self: center;
    margin-top: 0;
    margin-bottom: 30px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(53, 53, 93);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ExibirCategorias li {
    color: white;
    overflow: hidden;
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(20, 20, 59);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}


.ExibirCategorias li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.ExibirCategorias li::before, 
.ExibirCategorias li::after {
    content: "•";
    margin-right: 10px;
    font-size: 24px;
    color: rgb(192, 203, 246);
}

.ExibirCategorias li button:hover {
    background-color: rgb(172, 183, 226);
}

.IntoMaratona{
    display: grid;
    width: 85%;
    position: fixed;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: rgb(53, 53, 93);
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    z-index: 3;
    left: 15%;
    transform: translateX(100%);
    visibility: hidden; 
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0s 0.2s;
    
}

.IntoMaratona.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease;
}

.IntoMaratona.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease, visibility 0s 0.2s;
}

.torneio-container {
    position: absolute;
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 60px;
    justify-self: center;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: auto; 
  }

  .IntoMaratona button {
    align-self: center;
    width: 50%;
  }
  
  .rodadas {
    display: flex;
    flex: 1;
    justify-content: space-around;
    width: 100%;
    position: relative;
    flex-direction: row-reverse;
  }
  
  .rodada {
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
     position: relative;
  }

  .menuSuperior{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  
  .partida {
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-radius: 10px;
    border: 4px solid rgb(73, 73, 244);
    padding: 10px;
    margin: 10px;
    height: 60px;
    position: relative;
    align-items: center;
  }

  .containerVencedor {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(73, 73, 244);
    border-radius: 50%;
    margin-left: 20px;
    background-color: white;
  }
  
  .containerVencedor img {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover;
  }
  
  .time {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

  .vertical2{
    position: absolute;
    width: 2px;
    background-color: #000;
    top: 105%; 
    right: 48%;
    transform: translateX(-50%);
  }
  
  .linha-vertical {
    position: absolute;
    width: 2px;
    background-color: #000;
    top: 48%;
    right: -66%;
    transform: translateX(-50%);
  }
  
  .linha-horizontal {
    position: absolute;
    width: 116px;
    height: 2px;
    background-color: #000;
    top: 45%;
    right: -120px;
  }
  
  .seta {
    margin-top: 5px;
    font-size: 24px;
    cursor: pointer;
  }

.sidebar.show {
    transform: translateX(0);
}

.sidebar.hide {
    animation: slideOut 0.5s ease-out;
    display: none;
}

.sidebar {
    width: 15%;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px) brightness(0.7);
    background-color: rgba(20, 20, 59, 0.9);
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: none;
    align-items: flex-start;
    flex-direction: column;
    z-index: 4;
    transform: translateX(-100%);
    animation: slideIn 0.5s ease-in-out;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgb(73, 73, 244);
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out;
    opacity: 0.3;
}

.OpcoesExpandidas button:first-child {
    position: relative;
}

.OpcoesExpandidas button:first-child::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(73, 73, 244);
}

.divsenha{
position: relative;
}

.divsenha i{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 3px;
    z-index: 3px;
}

.dot:nth-child(1) {
    animation-delay: 0s;
    opacity: 1;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.3;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
}


.sidebar .ulTimes::before {
    content: '';
    position: absolute;
    top: 20px;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid rgb(73, 73, 244); 
   z-index: 0;
}

.sidebar .ulTimes:empty::before {
    content: none;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0); 
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0); 
    }
    to {
        transform: translateX(-100%); 
    }
}
.sidebarMaratona {
    display: flex;
    height: 100%;
    width: 100%;
    transform: translateX(-100%); 
    animation: slideIn 0.5s forwards;
    align-items: center;
    flex-direction: column;
    overflow: auto;
     word-break: break-word;
}

.sidebarMaratona::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.sidebarMaratona::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.sidebarMaratona::-webkit-scrollbar-thumb {
    background-color :rgb(73, 73, 244);
    border-radius: 10px;
    border: 2px solid #ccc;
}

.sidebarTime{
    position: fixed; 
    display:none;
    height: auto;
    width: 100%;
    transform: translateX(-100%); 
    animation: slideIn 0.5s forwards;
    justify-content:first baseline;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    overflow-x:hidden;
}

.sidebarMaratona.show {
    transform: translateX(0);
}

.sidebarMaratona.hide {
    animation: slideOut 0.5s ease-out;

}

.sidebarTime.show {
    transform: translateX(0);
    display:flex;
}

.sidebarTime.hide {
    animation: slideOut 0.5s ease-out;
    display:flex;
}



.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    position: relative;
}

.time-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    position: relative;
    height: 115px;
}

.time-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
    position: absolute;
    transition: transform 0.8s ease;
    
}

.time-item::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 6px solid rgb(73, 73, 244); 
    transform: translate(-50%, -50%);
    z-index: 0;
}

.time-item:hover img {
    filter: blur(1px) brightness(0.7);
    transform: scale(1.1);
}


.time-item p {
    font-size: 25px;
    font-weight: 1000;
    white-space: nowrap;
    position:relative;
    color:rgb(223, 223, 253);
    text-shadow:5px 5px 10px rgb(73, 73, 244); 
}

.sidebar h4{
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    position: relative;
    font-size: 18px;
    text-align: center;
}

.sidebar h4::after{
    content:"";
    height: 3px;
    width: 0%;
    background-color:rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.sidebar h4:hover::after{
    width: 100%;
}

.buttonBackToHome{
    width: 85%;
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    justify-self: start;
    transition: transform 0.8s ease;
}

.buttonBackToHome:hover{
    transform: scale(1.1);
}

.initCreationTeam {
    transition: transform 0.8s ease;
}

.initCreationTeam:hover{
    transform: scale(1.1);
}

#containerExibirTimes li {
    text-align: center;
    margin: 5px 0;
}

#containerBotaoTimesCreation{
    margin-bottom: 20px;
}


.IntoTime{
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: rgb(192, 203, 246);
    min-height: 100vh;
    overflow-y: auto;
}

.criarParticipante{
    width: 60% !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.criarParticipante.show{
    opacity: 1;
    visibility: visible;
}
.tituloDesenvolvedor{
justify-self: center;
text-align: center;
}

.dentroTime{
    margin-top: 20px !important;
    height: 16vh;
    width: 16vh;
     border: 3px solid rgba(51, 83, 133, 1);
     background-color:rgba(51, 83, 133, 0.8);
}

@media only screen and (max-height: 870px) {
    .torneio-container{
        top: 0;
    }
}

@media only screen and (max-width: 1200px) {

    .criacao{
        width: 70%
    }

    .torneio-container{
        left:0; 
        margin-top: 160px;
    }
    }

@media only screen and (max-width: 965px) {

.ConfirmarCriacao{
    font-size: 14px;
}

.containerBotoes {
    gap: 20px;
}

.containerArredondado{
    width: 25vh;
    height: 25vh;
}

.dentroTime{
    width: 11vh !important;
    height: 11vh !important;
}

}

@media only screen and (max-width: 768px) {

    .menuSuperior{
        width: 100%;
    }

    .headerHome{
        height: 15vh;
    }
   .barra{
    width: 15vh;
    height: 15vh;
   }

   .escudoTimePerfil{
    border: 5px solid rgb(192, 203, 246); 
   }

   #verticalout{
    display:none;
   }

   .inscrito{
    width: 50%;
   }

    .imagemLogoNav{
        display: none;
    }
    .textTitulo{
        align-items: center;
        justify-content: center;
        font-size: 10px;
        margin-top: 10px;
    }
    .horizontal-bar{
        width: 85%;
    }
    .filtrar{
        font-size: 15px;
        width: 90%;
        margin-top: 2%;
        gap: 20px;
        margin-bottom: 0;
    }
    .filtrar input{
        padding: 2px;
        width: 60%;
    }

    .filtroTime{
        gap: 0px !important;
        flex-direction: column;
        height: 70px;
    }

    .inputFiltro{
        margin-bottom: 10px;
    }

    .filtroTime p{
        margin: 5px 0 0 0;
    }

    .criacao{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
    .criarMaratona form{
        width: 70%;
        height: 90%;
    }
    .ExibirCategorias {
        align-items: start;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .ExibirCategorias li {
        font-size: 14px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        text-justify: auto;
        align-self: center;
        justify-self: center;
        padding: 0;
        margin: 10px 5px 10px 5px;
        gap: 10px;
        flex-wrap: wrap;
        background-color: rgb(44, 44, 107);;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .ExibirCategorias li::before, 
    .ExibirCategorias li::after {
        content: "";
        margin-right: 0;
        font-size: 0;
    }

    .ExibirCategorias li hr {
        margin: 10px 0;
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        width: 100%;
    }

    .edicaoConta{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .edicaoConta form{
        flex-direction: column;
        margin: 0;
    }

    .containerPerfilContaManipular{
        width: 100%;
        height: 30%;
        margin-top: 40px;
    }

    .camposManipularConta{
        width: 100%;
        height: 70%;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .containerBotoes{
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .containerArredondado{
        top:30px;
        height: 24vh;
        width: 24vh;
        margin: 0;
    }

    .IntoMaratona{
        width: 80%;
        left: 20%;
    }

    .sidebar {
        width: 20%;
    }
    
    .sidebar ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .sidebar h4{
        font-size: 18px;
    }
    
    .buttonBackToHome img{
        width: 60%;
    }

    .imagemAddTime{
        width: 60%;
    }
}

@media only screen and (max-width: 570px) {

    .time-item {
        height: 90px;
    }

    .sidebar ul {
        gap: 10px;
    }

    .time-item img{
        height: 60px;
         width: 60px;
    }

    .time-item::before{
        width: 60px;
        height: 60px;
    }

    .time-item p{
        font-size: 16px;
    }

    .tituloDesenvolvedor{
        font-size: 16px;
    }

    .dentroTime{
    display:none;
  }
}

@media only screen and (max-width: 491px) {

.limite {
    width: 20%; 
    }

    .textTitulo{
 font-size: 7px;
    }

.OpcoesExpandidas {
    width: 20%;
}

.barra{
    width: 10vh;
    height: 10vh;
   }
}

@media only screen and (max-width: 355px) {
    .time-item img{
        display: none;
    }

    .time-item {
        height: 30px;
    }

    .time-item::before{
        display:none;
    }

    .sidebar ul::before {
        display: none;
    }

}