@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    height: 100%;
    min-width: 100%;
    min-height: 100vh;
}
input{
    width: 85%;
    padding: 2%;
    margin-top: 0.5rem;
    margin-bottom: 0;
    border: 1px solid #000;
}
button{
    border: none;
    outline: none;
    width: 90%;
    padding: 3%;
    background-color: rgb(20, 20, 59);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: rgb(20, 20, 59);
    cursor: pointer;
}
.container {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.apresentacao{
    margin-bottom: 10%;
}
.apresentacao h1{
    margin-bottom: 0.5rem;
    color: rgb(20, 20, 59);
}
.apresentacao p{
    margin-top: 0;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: white;
    height: 100vh;
    overflow: auto;
    transition: transform 1s ease;
}
.formMoveLeft{
    transform: translateX(-100%);
}
form{
    display: flex;
    width: 65%;
    flex-direction: column;
    margin-bottom: 10%;
    color: rgb(20, 20, 59);
}
.mensagens{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.textLogin{
    color: red;
    font-size: 15px;
    margin-right: 24%;
    margin-bottom: 5%;
}
.recuperaSenha{
    margin-right: 10%;
    font-size: 15px;
    margin-bottom: 5%;
}
.cadastro{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 18px;
}
.cadastro p{
    color: grey;
}
.side{
    height: 100%;
    width: 50%;
    transition: transform 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideMoveRight{
    transform:translateX(100%);
}
