@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    height: 100%;
    min-width: 100%;
    min-height: 100vh;
}
input{
    width: 85%;
    padding: 2%;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
button{
    border: none;
    outline: none;
    width: 90%;
    padding: 3%;
    background-color: rgb(20, 20, 59);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: rgb(20, 20, 59);
}
.container {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(34, 32, 32);
    height: 100%;
    min-width: 100%;
    min-height: 100vh;
}
.apresentacao{
    margin-bottom: 10%;
}
.apresentacao h1{
    margin-bottom: 0.5rem;
    color: rgb(20, 20, 59);
}
.apresentacao p{
    margin-top: 0;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    background-color: white;
    height: 100vh;
    overflow: auto;
}
form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    color: rgb(20, 20, 59);
}
.recuperaSenha{
    align-self: end;
    margin-right: 10%;
    font-size: 15px;
}
.cadastro{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 18px;
}
.cadastro p{
    color: grey;
}
.side{
    height: 100%;
}