<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Home</title>
</head>

<body>
    <div id="mainContainer" class="container">
        <div id="overlay" class="overlay"></div>
        <header class="headerHome" style="background-image: url('static\\img\\OIG2.png');"></header>
        <nav class="navbar">
            <div class="vertical-bar"></div>
            <div class="barra">
                <div class="escudoTimePerfil">
                    <img id="user-icon" width="100%">
                </div>
            </div>
            <div class="vertical-bar"></div>
            <img class="imagemLogoNav" src="static\img\LogoReduzida.png" width="2%" style="border-radius: 100%;">
            <div id="verticalout" class="vertical-bar"></div>
            <button id="criarMaisButton" class="criarMais">+ Criar Mais</button>
            <div class="spacer"></div>
            <div class="vertical-bar" style="margin-left: 10px;"></div>
            <div class="limite">
                <button id="contaOpcoes" class="contaManipular" style="margin-left: 3%;">Conta <i id="toggleIcon"
                        class="fas fa-chevron-right" style="color: rgb(73, 73, 244)"></i></button>
            </div>
        </nav>
        <div class="containerOpcoes">
            <div class="spacer"></div>
            <div id="OpcoesExpandidas" class="OpcoesExpandidas">
                <button class="contaManipular" id="editarContaAbrir">Editar Conta</button>
                <button class="contaManipular" id="logout">Sair</button>
            </div>
        </div>

        <div id="edicaoConta" class="edicaoConta">
            <button id="fecharEdicaoConta" class="fechar">X</button>
            <form id="form-manipular-conta" method="post" action="{{ url_for('rotas.update_user') }}"
                enctype="multipart/form-data">
                <div class="containerPerfilContaManipular">
                    <div class="containerArredondado" id="containerArredondadoEdicao">
                        <img id="imagemAtualizar" class="imagemAtualizar" src="static\img\InitProfile.png" alt=""
                            width="100%">
                        <input type="file" name="iconPerfil" id="inputImagem" class="file-input" accept="image/*">
                        <img id="svgAtualizar" src="static/img/atualizarFoto.svg" alt="Atualizar" class="svg-icon">
                    </div>
                </div>
                <div class="camposManipularConta">
                    <label for="Nome">Nome</label>
                    <input id="usernameUpdate" name="Nome" type="text">
                    <label for="Email">Email</label>
                    <input id="emailUpdate" name="Email" type="text">
                    <label for="Senha">Senha</label>
                    <input id="newPassword" name="Senha" type="password">
                    <div class="containerBotoes">
                        <button id="btn-edit-user" class="ConfirmarCriacao" type="submit">Atualizar</button>
                        <button id="btn-del-user" class="ConfirmarCriacao"
                            style="background-color: white;color:red;border-color:red;" type="submit">Excluir</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="criacao" class="criacao">
            <button id="fecharCriacao" class="fechar">X</button>
            <div class="categorias menuCriar">
                <div id="containerBotaoMaratonasCreation" class="containerBotao selecionarCriar">
                    <button id="maratonasCreation">Maratonas</button>
                    <hr id="underlineCreation"
                        style="position: relative;margin-top: 0;margin-bottom: 0px;width: 100%;border: none;height: 3px; bottom:3px;"
                        class="horizontal-bar selectCreation">
                </div>
            </div>
            <div id="criarMaratona" class="criarMaratona">
                <form id="criar-maratona-form" class="criacoesForm" action="{{ url_for('rotas.create_marathon') }}"
                    method="post">
                    <label for="nomeMaratona">Nome da Maratona</label>
                    <input name="nomeMaratona" type="text" placeholder="JavaCamp">
                    <label for="Descricao">Descrição</label>
                    <input name="Descricao" type="text" placeholder="Campeonato de java">
                    <label for="qtdTimes">Quantidade de Times</label>
                    <input name="qtdTimes" type="number" placeholder="0">
                    <label for="valor">Prêmio</label>
                    <input type="text" id="valor" name="valor" placeholder="R$100,00">
                    <button id="ConfirmarCriacao" class="ConfirmarCriacao" type="submit">Criar</button>
                </form>
            </div>
        </div>

        <div class="textTitulo">
            <div class="animado">
                CRIE E GERENCIE <span></span>
            </div>
            <hr style="margin-top: 0;" class="horizontal-bar">
        </div>
        <div class="categorias">
            <div id="containerBotaoMaratonas" class="containerBotao">
                <button id="maratonas">Maratonas</button>
                <hr class="horizontal-bar" style="margin-top:0;margin-bottom: 0;width: 100%;height: 2px;">
                <div id="listarMaratonas"></div>
            </div>
        </div>

        <div class="filtrar">
            <p>Filtrar Itens:</p>
            <input id="filter" type="text" placeholder="Digite o nome do item">
        </div>
        <ul id="ExibirCategorias" class="ExibirCategorias"></ul>
    </div>

    <div id="intoMaratona" class="IntoMaratona"></div>
    <div id="overlayIntoMaratona" class="overlay"></div>
    <div id="edicaoMaratona" class="criacao">
        <div class="categorias menuCriar">
            <div id="containerBotaoTimesCreation" class="containerBotao selecionarCriar">
                <button id="timesCreation">Editar Maratona</button>
                <hr id="underlineCreation" style="margin-top: 0;margin-bottom: 0;width: 100%;"
                class="horizontal-bar selectCreation">
            </div>
        </div>
        <div id="editarMaratona" class="criarMaratona">
            <button id="fecharEdicaoMaratona" class="fechar">X</button>
            <form id="editar-maratona-form" class="criacoesForm" action="{{ url_for('rotas.update_marathon') }}"
                method="post" style="height: 90%;">
                <label for="nomeMaratona">Nome da Maratona</label>
                <input id="novoNomeMaratona" name="nomeMaratona" type="text">
                <label for="Descricao">Descrição</label>
                <input id="novaDescricaoMaratona" name="Descricao" type="text">
                <label for="qtdTimes">Quantidade de Times</label>
                <input id="novaQtdTimesMaratona" name="qtdTimes" type="number">
                <label for="valor">Prêmio</label>
                <input id="novoPremioMaratona" type="text" name="valor">
                <div class="containerButtonsEditionMaratona">
                <button id="ConfirmarEdicaoMaratona" class="ConfirmarCriacao" type="submit">Editar</button>
                <button id="ExcluirMaratona" class="ConfirmarCriacao"
                style="background-color: white;color: red;border-color:red;">Excluir</button>
                </div>

            </form>
        </div>
    </div>
    <div id="criacaoTime" class="criacao">
        <button id="fecharCriacaoTime" class="fechar">X</button>
        <div class="categorias menuCriar">
            <div id="containerBotaoTimesCreation" class="containerBotao selecionarCriar">
                <button id="timesCreation">Criar Time</button>
                <hr id="underlineCreation" style="margin-top: 0;margin-bottom: 0;width: 100%;"
                class="horizontal-bar selectCreation">
            </div>
        </div>
        <div id="criarTime" class="criarMaratona" style="display: flex;">
            <form id="criar-time-form" class="criacoesForm" action="{{ url_for('rotas.create_team') }}"
            method="post" style="height: 90%;">
            <label for="nomeTime">Nome do Time</label>
            <input name="nomeTime" type="text" placeholder="ProgTodoDia">
            <label for="Abreviacao">Abreviação</label>
            <input name="Abreviacao" type="text" placeholder="PTD (máximo 3 letras)">
            <label for="escudoTime">Escudo do Time</label>
            <div class="containerArredondado" id="containerArredondadoCriaTime" style="height: 16vh;width: 16vh; border: 3px solid rgba(51, 83, 133, 1);background-color:rgba(51, 83, 133, 0.8)">
                <img id="imagemAtualizarTime" src="static\img\escudoTime.png" alt="" class="imagemAtualizarTime" style="transition: filter 0.3s ease;">
                <input type="file" name="escudoTime" id="inputImagemTime" class="file-input" accept="image/*">
                <img id="svgAtualizar" src="static/img/atualizarFoto.svg" alt="Atualizar" class="svg-icon" style="height: 8%; width: 8%;">
            </div>
            <button id="ConfirmarCriacaoTime" class="ConfirmarCriacao" type="submit">Criar</button>
        </form>
    </div>
    <div id="criarPartida" class="criarPartida">Ainda em branco</div>
</div>
<div id="sidebar" class="sidebar">
    <div id="sidebarMaratona" class="sidebarMaratona" style="padding-top: 20px; overflow-x: hidden;">
        <button class="buttonBackToHome" id="BackToHome">
            <img src="static\img\volte.png" width="30%">
        </button>
    <h4 id="editorMaratonaButton">Editar Maratona</h4>
    <h2>Times</h2>
    <button id="initCreationTeam" class="initCreationTeam" style="border: none;background: transparent;outline: none;cursor: pointer;">
        <img class="imagemAddTime" src="static\img\adicionar.png" width="30%">
    </button>
    <ul id="containerExibirTimes" class="ulTimes"style="width: 100%; display: flex; align-items: center; justify-content: 
        center; flex-direction: column; padding: 0; margin: 0; list-style-type: none; margin-top: 20px;">
    </ul>
</div>
<div id=sidebarTime class="sidebarTime" style="padding-top: 20px;">
    <button class="buttonBackToHome" id="BackToMaratona">
        <img src="static\img\volte.png" width="30%">
    </button>
    <h4 id="editorTimeButton">Editar Time</h4>
    <h3 style=" word-break: break-word;">Desenvolvedores</h3>
    <ul id="containerExibirTimes" style="width: 100%; display: flex; align-items: center; justify-content: 
        center; flex-direction: column; padding: 0; margin: 0; list-style-type: none; margin-top: 20px;">
    </ul>
</div>

</div>

<div id="criacaoParticipante" class="criacao criarParticipante" style="background-color: transparent;z-index: 38;">
    <div id="criarParticipante" class="criarMaratona">
        <form id="criar-particiamente-form" class="criacoesForm" action="" method="post">
            <h1 style="color: white;" class="tituloDesenvolvedor">Inscrever Desenvolvedor</h1>
            <label for="nomeParticipante">Nome do Dev</label>
            <input name="nomeParticipante" type="text" placeholder="João Alves">
            <button id="ConfirmarCriacaoParticipante" class="ConfirmarCriacao" type="submit">Criar</button>
        </form>
    </div>
</div>
<div id="EditarTime" class="criacao">
    <button id="fecharEdicaoTime" class="fechar">X</button>
    <div class="categorias menuCriar" style="margin-bottom: 30px;">
        <div id="containerBotaoTimesUpdate" class="containerBotao selecionarCriar">
            <button id="timesEditar">Editar Time</button>
            <hr id="underlineCreation" style="margin-top: 0;margin-bottom: 0;width: 100%;"
                class="horizontal-bar selectCreation">
        </div>
    </div>
    <div id="editarTime" class="criarMaratona" style="display: flex;">
        <form id="editar-time-form" class="criacoesForm" action="" method="post" style="height: 90%;">
            <label for="nomeTimeEditar">Nome do Time</label>
            <input id="nomeTimeEditar" name="nomeTimeEditar" type="text">
            <label for="AbreviacaoEditar">Abreviação</label>
            <input id="AbreviacaoEditar" name="AbreviacaoEditar" type="text">
            <label for="escudoTimeEditar">Escudo do Time</label>
            <div class="containerArredondado" id="containerArredondadoEditaTime" style="height: 16vh;width: 16vh; border: 3px solid rgba(51, 83, 133, 1);background-color:rgba(51, 83, 133, 0.8)">
                <img id="imagemAtualizarTimeEdicao" class="imagemAtualizarTime" alt="">
                <input type="file" name="escudoTimeEditar" id="inputImagemTimeEditar" class="file-input"
                    accept="image/*">
                    <img id="svgAtualizar" src="static/img/atualizarFoto.svg" alt="Atualizar" class="svg-icon" style="height: 8%; width: 8%;">
            </div>
            <div class="containerButtonsEditionMaratona">
            <button id="ConfirmarEdicaoTime" class="ConfirmarCriacao" type="submit">Editar</button>
            <button id="ExcluirTime" class="ConfirmarCriacao"
                style="background-color: white;color: red;border-color:red;">Excluir</button>
            </div>
        </form>
    </div>
</div>
    
    <script src="static\js\homePage\home.js"></script>
</body>

</html>