<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <header class="headerHome" style="background-image: url('static\\img\\OIG2.png');"></header>
        <nav class="navbar">
            <div class="vertical-bar"></div>
            <div class="escudoTimePerfil">
                <img src="static\img\Logo.png" width="100%">
            </div>
            <img class="imagemLogoNav" src="static\img\LogoReduzida.png" width="2%" style="border-radius: 100%;">
            <div class="vertical-bar"></div>
            <button id="criarMaisButton" class="criarMais">+ Criar Mais</button>
            <div class="spacer"></div>
            <div class="vertical-bar"></div>
            <button id="contaOpcoes" class="contaManipular" style="margin-left: 3%;">Conta <i
                    class="fas fa-chevron-down" style="color: rgb(65, 65, 131)"></i></button>
        </nav>
        <div class="containerOpcoes">
            <div class="spacer"></div>
            <div id="OpcoesExpandidas" class="OpcoesExpandidas">
                <button class="contaManipular">Editar Conta</button>
                <button class="contaManipular" id="logout">Sair</button>
            </div>
        </div>

        <div id="criacao" class="criacao">
            <button id="fecharCriacao" class="fechar">X</button>
            <div class="categorias menuCriar">
                <div id="containerBotaoMaratonasCreation" class="containerBotao selecionarCriar">
                    <button id="maratonasCreation">Maratonas</button>
                    <hr id="underlineCreation" style="margin-top: 0;margin-bottom: 0;width: 100%;" class="horizontal-bar selectCreation">
                </div>
                <div class="vertical-bar"></div>
                <div id="containerBotaopartidasCreation" class="containerBotao selecionarCriar">
                    <button id="partidasCreation">Partidas</button>
                </div>
                <div class="vertical-bar"></div>
                <div id="containerBotaoTimesCreation" class="containerBotao selecionarCriar">
                    <button id="timesCreation">Times</button>
                </div>
            </div>
            <div id="criarMaratona" class="criarMaratona">
                <form id="criar-maratona-form" action="{{ url_for('rotas.create_marathon') }}" method="post">
                    <label for="nomeMaratona">Nome da Maratona</label>
                    <input name="nomeMaratona" type="text" placeholder="JavaCamp">
                    <label for="Descricao">Descrição</label>
                    <input name="Descricao" type="text" placeholder="Campeonato de java">
                    <label for="qtdTimes">Quantidade de Times</label>
                    <input name="qtdTimes" type="number" placeholder="0">
                    <label for="valor">Prêmio</label>
                    <input type="text" id="valor" name="valor" placeholder="R$100,00">
                    <button id="ConfirmarCriacao" class="ConfirmarCriacao" type="submit">Criar</button>
                </form>
            </div>

            <div id="criarTime" class="criarTime"></div>
            <div id="criarPartida" class="criarPartida"></div>
        </div>

        <div class="textTitulo">
            <h1 style="margin-bottom: 0;">CRIE E GERENCIE SUAS</h1>
            <h1 style="margin-top: 0;">MARATONAS DE PROGRAMAÇÃO!</h1>
            <hr style="margin-top: 0;" class="horizontal-bar">
        </div>

        <div class="categorias">
            <div id="containerBotaoMaratonas" class="containerBotao">
                <button id="maratonas">Maratonas</button>
                <hr id="underline" style="margin-top: 0;margin-bottom: 0;width: 100%;" class="horizontal-bar">
            </div>
            <div class="vertical-bar"></div>
            <div id="containerBotaopartidas" class="containerBotao">
                <button id="partidas">Partidas</button>
            </div>
            <div class="vertical-bar"></div>
            <div id="containerBotaoTimes" class="containerBotao">
                <button id="times">Times</button>
            </div>
        </div>

        <div class="filtrar">
            <p>Filtrar Itens:</p>
            <input type="text" placeholder="Digite o nome do item">
        </div>
    </div>
    <script src="static\js\homePage\home.js"></script>
</body>

</html>